.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #149df2 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
/*	top: 208px;
	left: 100px;
	bottom: 128px;
	right: 90px;*/
}